body {
    font-family: serif;
}

.navbar {
    margin-bottom: 0;
}

header {
    width: 100%;
    height: 288px;
    background: url(as-stripes.png);
    font-family: 'Orbitron', cursive !important;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    margin-top: 0;
}

header div {
    margin: auto;
    padding-top: 150px;
    width: 960px;
}

header h1 {
    font-size: 50px !important;
    font-family: inherit;
    color: inherit;
}

header a,
header a:active,
header a:hover,
header a:visited {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

article {
    padding: 1em;
}

@media screen and (min-width: 960px) {
    article {
        width: 80%;
        margin: auto;
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/*
Survey questions
*/
dl {
    margin: 1em 10%;
}

dt {
    margin-top: 1.5em;
    font-weight: bold;
    font-size: 125%;
}

.explain {
    background-color: #eef;
    font-size: 90%;
}

@media screen and (min-width: 1000px) {
    .species-block {
        padding-right: 2em;
        padding-bottom: 2em;
        float: left;
        width: 20%;
    }
}

@media screen and (max-width: 600px) {
    .gendermap {
        display: none;
    }
}

.expression .gendermap-container {
    background: url('lib/gendermap-expression.png');
}

/*
Tables
*/
thead th {
    border-bottom: 1px dotted #aaa;
    padding-bottom: 3px;
}

tbody td {
    text-align: center;
    padding: 5px;
}

.align-left td {
    text-align: left;
    vertical-align: top:
}

tbody th {
    text-align: right;
    padding: 5px;
}

tbody .center th {
    text-align: center;
}

tr.odd td {
    background-color: #eee;
}
