<html>
    <head>
        <title>The 2014 Furry Survey</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        {% for message in get_flashed_messages() %}
            <div class="message">{{ message|safe }}</div>
        {% endfor %}
        <h1>{% block header %}{% endblock %}</h1>
        {% block body %}{% endblock %}
    </body>
</html>
