{% extends "base.html" %}

{% block header %}All finished!{% endblock %}
{% block body %}
<p class="muted">
<strong>Start</strong> &raquo; <strong>Overview</strong> &raquo; <strong>Psychographic battery</strong> &raquo; <strong>Sexuality</strong> &raquo; <em>Finish</em>
</p>
<img src="{{ url_for('static', filename='furrypoll.gif') }}" style="float:left;margin-right:1em;"/>
<p>Thanks so much for taking part in the Furry Survey!  Every response that we get helps us gain a bigger picture of the furry subculture as a whole.  If you are interested in seeing the results on this, please make sure to keep an eye out on <a href="http://adjectivespecies.com">[adjective][species]</a> for articles, data, and visualizations!  Make sure to send all of your friends to this site, too, to make sure that they're counted as well!</p>
<p><a class="btn btn-primary" href="https://twitter.com/intent/tweet?text=I%20completed%20the%202016%20Furry%20Poll!%20Stand%20up,%20get%20counted!&url=http://furrypoll.com%2F&hashtags=FurryPoll2016&original_referer=http://furrypoll.com">Share on Twitter!</a></p>
{% endblock %}
