{% extends "base.html"  %}

{% block header %}Part 2 - Psychographic Battery{% endblock %}
{% block body %}
<p class="progess">
<strong>Start</strong> &raquo; <strong>Overview</strong> &raquo; <em>Psychographic battery</em> &raquo; Sexuality &raquo; Finish
</p>
<form method="post">
    <dl>
        <dt>Psychographic battery</dt>
        <dd>
            <div class="explain">Explanation</div>
            <table>
                <thead>
                    <tr>
                        <th>Strongly agree</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>Strongly Disagree</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="align-left">
                        <td colspan="8">Faith and spirituality are a good way of understanding the world.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_faith_and_spirituality" value="1" /></td>
                        <td><input type="radio" name="npo_psb_faith_and_spirituality" value="2" /></td>
                        <td><input type="radio" name="npo_psb_faith_and_spirituality" value="3" /></td>
                        <td><input type="radio" name="npo_psb_faith_and_spirituality" value="4" /></td>
                        <td><input type="radio" name="npo_psb_faith_and_spirituality" value="5" /></td>
                        <td><input type="radio" name="npo_psb_faith_and_spirituality" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">My friends look to me for advice about movies, music, video games, or pop culture.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_friends_look_advice" value="1" /></td>
                        <td><input type="radio" name="npo_psb_friends_look_advice" value="2" /></td>
                        <td><input type="radio" name="npo_psb_friends_look_advice" value="3" /></td>
                        <td><input type="radio" name="npo_psb_friends_look_advice" value="4" /></td>
                        <td><input type="radio" name="npo_psb_friends_look_advice" value="5" /></td>
                        <td><input type="radio" name="npo_psb_friends_look_advice" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">In general, I'd rather make something instead of buying it.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_make_rather_than_buy" value="1" /></td>
                        <td><input type="radio" name="npo_psb_make_rather_than_buy" value="2" /></td>
                        <td><input type="radio" name="npo_psb_make_rather_than_buy" value="3" /></td>
                        <td><input type="radio" name="npo_psb_make_rather_than_buy" value="4" /></td>
                        <td><input type="radio" name="npo_psb_make_rather_than_buy" value="5" /></td>
                        <td><input type="radio" name="npo_psb_make_rather_than_buy" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">I'm more talented than most people in my peer group.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_more_talented_than_peers" value="1" /></td>
                        <td><input type="radio" name="npo_psb_more_talented_than_peers" value="2" /></td>
                        <td><input type="radio" name="npo_psb_more_talented_than_peers" value="3" /></td>
                        <td><input type="radio" name="npo_psb_more_talented_than_peers" value="4" /></td>
                        <td><input type="radio" name="npo_psb_more_talented_than_peers" value="5" /></td>
                        <td><input type="radio" name="npo_psb_more_talented_than_peers" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">I value having cutting-edge technology.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_value_cutting_edge" value="1" /></td>
                        <td><input type="radio" name="npo_psb_value_cutting_edge" value="2" /></td>
                        <td><input type="radio" name="npo_psb_value_cutting_edge" value="3" /></td>
                        <td><input type="radio" name="npo_psb_value_cutting_edge" value="4" /></td>
                        <td><input type="radio" name="npo_psb_value_cutting_edge" value="5" /></td>
                        <td><input type="radio" name="npo_psb_value_cutting_edge" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="center">
                        <th>Strongly agree</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>Strongly Disagree</th>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">I'd rather patronize a small business than a big company.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_rather_patronize_small_business" value="1" /></td>
                        <td><input type="radio" name="npo_psb_rather_patronize_small_business" value="2" /></td>
                        <td><input type="radio" name="npo_psb_rather_patronize_small_business" value="3" /></td>
                        <td><input type="radio" name="npo_psb_rather_patronize_small_business" value="4" /></td>
                        <td><input type="radio" name="npo_psb_rather_patronize_small_business" value="5" /></td>
                        <td><input type="radio" name="npo_psb_rather_patronize_small_business" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">Creativity is one of my strongest attributes.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_enjoy_creating_things" value="1" /></td>
                        <td><input type="radio" name="npo_psb_enjoy_creating_things" value="2" /></td>
                        <td><input type="radio" name="npo_psb_enjoy_creating_things" value="3" /></td>
                        <td><input type="radio" name="npo_psb_enjoy_creating_things" value="4" /></td>
                        <td><input type="radio" name="npo_psb_enjoy_creating_things" value="5" /></td>
                        <td><input type="radio" name="npo_psb_enjoy_creating_things" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">Where pop-culture is concerned, I'm ahead of the curve.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_ahead_of_pop_culture" value="1" /></td>
                        <td><input type="radio" name="npo_psb_ahead_of_pop_culture" value="2" /></td>
                        <td><input type="radio" name="npo_psb_ahead_of_pop_culture" value="3" /></td>
                        <td><input type="radio" name="npo_psb_ahead_of_pop_culture" value="4" /></td>
                        <td><input type="radio" name="npo_psb_ahead_of_pop_culture" value="5" /></td>
                        <td><input type="radio" name="npo_psb_ahead_of_pop_culture" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">I admit, I have a tendency to overthink things.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_tendency_to_overthink" value="1" /></td>
                        <td><input type="radio" name="npo_psb_tendency_to_overthink" value="2" /></td>
                        <td><input type="radio" name="npo_psb_tendency_to_overthink" value="3" /></td>
                        <td><input type="radio" name="npo_psb_tendency_to_overthink" value="4" /></td>
                        <td><input type="radio" name="npo_psb_tendency_to_overthink" value="5" /></td>
                        <td><input type="radio" name="npo_psb_tendency_to_overthink" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">Mass-media is too 'lowest common denominator'.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_mass_media_lcd" value="1" /></td>
                        <td><input type="radio" name="npo_psb_mass_media_lcd" value="2" /></td>
                        <td><input type="radio" name="npo_psb_mass_media_lcd" value="3" /></td>
                        <td><input type="radio" name="npo_psb_mass_media_lcd" value="4" /></td>
                        <td><input type="radio" name="npo_psb_mass_media_lcd" value="5" /></td>
                        <td><input type="radio" name="npo_psb_mass_media_lcd" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="center">
                        <th>Strongly agree</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>Strongly Disagree</th>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">I enjoy being able to lead and influence others.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_enjoy_leading" value="1" /></td>
                        <td><input type="radio" name="npo_psb_enjoy_leading" value="2" /></td>
                        <td><input type="radio" name="npo_psb_enjoy_leading" value="3" /></td>
                        <td><input type="radio" name="npo_psb_enjoy_leading" value="4" /></td>
                        <td><input type="radio" name="npo_psb_enjoy_leading" value="5" /></td>
                        <td><input type="radio" name="npo_psb_enjoy_leading" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">I tend to focus on a few specific interests of mine.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_focus_on_specific_interests" value="1" /></td>
                        <td><input type="radio" name="npo_psb_focus_on_specific_interests" value="2" /></td>
                        <td><input type="radio" name="npo_psb_focus_on_specific_interests" value="3" /></td>
                        <td><input type="radio" name="npo_psb_focus_on_specific_interests" value="4" /></td>
                        <td><input type="radio" name="npo_psb_focus_on_specific_interests" value="5" /></td>
                        <td><input type="radio" name="npo_psb_focus_on_specific_interests" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">People are too reliant on technology these days.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_too_reliant_on_tech" value="1" /></td>
                        <td><input type="radio" name="npo_psb_too_reliant_on_tech" value="2" /></td>
                        <td><input type="radio" name="npo_psb_too_reliant_on_tech" value="3" /></td>
                        <td><input type="radio" name="npo_psb_too_reliant_on_tech" value="4" /></td>
                        <td><input type="radio" name="npo_psb_too_reliant_on_tech" value="5" /></td>
                        <td><input type="radio" name="npo_psb_too_reliant_on_tech" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">Even if technically illegal, file-sharing of copyrighted material isn't that big of a deal.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_filesharing_nbd" value="1" /></td>
                        <td><input type="radio" name="npo_psb_filesharing_nbd" value="2" /></td>
                        <td><input type="radio" name="npo_psb_filesharing_nbd" value="3" /></td>
                        <td><input type="radio" name="npo_psb_filesharing_nbd" value="4" /></td>
                        <td><input type="radio" name="npo_psb_filesharing_nbd" value="5" /></td>
                        <td><input type="radio" name="npo_psb_filesharing_nbd" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">It's important for people to be politically active.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_citizens_politically_active" value="1" /></td>
                        <td><input type="radio" name="npo_psb_citizens_politically_active" value="2" /></td>
                        <td><input type="radio" name="npo_psb_citizens_politically_active" value="3" /></td>
                        <td><input type="radio" name="npo_psb_citizens_politically_active" value="4" /></td>
                        <td><input type="radio" name="npo_psb_citizens_politically_active" value="5" /></td>
                        <td><input type="radio" name="npo_psb_citizens_politically_active" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="center">
                        <th>Strongly agree</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>Strongly Disagree</th>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">In general, I want to be considered fashionable.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_want_to_be_fashionable" value="1" /></td>
                        <td><input type="radio" name="npo_psb_want_to_be_fashionable" value="2" /></td>
                        <td><input type="radio" name="npo_psb_want_to_be_fashionable" value="3" /></td>
                        <td><input type="radio" name="npo_psb_want_to_be_fashionable" value="4" /></td>
                        <td><input type="radio" name="npo_psb_want_to_be_fashionable" value="5" /></td>
                        <td><input type="radio" name="npo_psb_want_to_be_fashionable" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">It's better to have an exciting life than one where every day is predictable.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_exciting_rather_than_predictable" value="1" /></td>
                        <td><input type="radio" name="npo_psb_exciting_rather_than_predictable" value="2" /></td>
                        <td><input type="radio" name="npo_psb_exciting_rather_than_predictable" value="3" /></td>
                        <td><input type="radio" name="npo_psb_exciting_rather_than_predictable" value="4" /></td>
                        <td><input type="radio" name="npo_psb_exciting_rather_than_predictable" value="5" /></td>
                        <td><input type="radio" name="npo_psb_exciting_rather_than_predictable" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">I believe in learning for learning's sake -- it doesn't need to have a purpose.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_learning_for_learnings_sake" value="1" /></td>
                        <td><input type="radio" name="npo_psb_learning_for_learnings_sake" value="2" /></td>
                        <td><input type="radio" name="npo_psb_learning_for_learnings_sake" value="3" /></td>
                        <td><input type="radio" name="npo_psb_learning_for_learnings_sake" value="4" /></td>
                        <td><input type="radio" name="npo_psb_learning_for_learnings_sake" value="5" /></td>
                        <td><input type="radio" name="npo_psb_learning_for_learnings_sake" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">I find a sense of routine is comforting.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_routine_is_comforting" value="1" /></td>
                        <td><input type="radio" name="npo_psb_routine_is_comforting" value="2" /></td>
                        <td><input type="radio" name="npo_psb_routine_is_comforting" value="3" /></td>
                        <td><input type="radio" name="npo_psb_routine_is_comforting" value="4" /></td>
                        <td><input type="radio" name="npo_psb_routine_is_comforting" value="5" /></td>
                        <td><input type="radio" name="npo_psb_routine_is_comforting" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">Advertising is a useful source of information.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_information_is_useful" value="1" /></td>
                        <td><input type="radio" name="npo_psb_information_is_useful" value="2" /></td>
                        <td><input type="radio" name="npo_psb_information_is_useful" value="3" /></td>
                        <td><input type="radio" name="npo_psb_information_is_useful" value="4" /></td>
                        <td><input type="radio" name="npo_psb_information_is_useful" value="5" /></td>
                        <td><input type="radio" name="npo_psb_information_is_useful" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="center">
                        <th>Strongly agree</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>Strongly Disagree</th>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">What other people think of me is important.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_other_people_think_important" value="1" /></td>
                        <td><input type="radio" name="npo_psb_other_people_think_important" value="2" /></td>
                        <td><input type="radio" name="npo_psb_other_people_think_important" value="3" /></td>
                        <td><input type="radio" name="npo_psb_other_people_think_important" value="4" /></td>
                        <td><input type="radio" name="npo_psb_other_people_think_important" value="5" /></td>
                        <td><input type="radio" name="npo_psb_other_people_think_important" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">I like learning about how the universe works.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_learn_about_universe" value="1" /></td>
                        <td><input type="radio" name="npo_psb_learn_about_universe" value="2" /></td>
                        <td><input type="radio" name="npo_psb_learn_about_universe" value="3" /></td>
                        <td><input type="radio" name="npo_psb_learn_about_universe" value="4" /></td>
                        <td><input type="radio" name="npo_psb_learn_about_universe" value="5" /></td>
                        <td><input type="radio" name="npo_psb_learn_about_universe" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">When something is confusing, it's better to find a simpler option than to spend time trying to figure it out.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_find_simpler_option" value="1" /></td>
                        <td><input type="radio" name="npo_psb_find_simpler_option" value="2" /></td>
                        <td><input type="radio" name="npo_psb_find_simpler_option" value="3" /></td>
                        <td><input type="radio" name="npo_psb_find_simpler_option" value="4" /></td>
                        <td><input type="radio" name="npo_psb_find_simpler_option" value="5" /></td>
                        <td><input type="radio" name="npo_psb_find_simpler_option" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">My decisions are motivated primarily by my moral code.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_decisions_moral_code" value="1" /></td>
                        <td><input type="radio" name="npo_psb_decisions_moral_code" value="2" /></td>
                        <td><input type="radio" name="npo_psb_decisions_moral_code" value="3" /></td>
                        <td><input type="radio" name="npo_psb_decisions_moral_code" value="4" /></td>
                        <td><input type="radio" name="npo_psb_decisions_moral_code" value="5" /></td>
                        <td><input type="radio" name="npo_psb_decisions_moral_code" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">People are more distant from each other these days.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_people_more_distant" value="1" /></td>
                        <td><input type="radio" name="npo_psb_people_more_distant" value="2" /></td>
                        <td><input type="radio" name="npo_psb_people_more_distant" value="3" /></td>
                        <td><input type="radio" name="npo_psb_people_more_distant" value="4" /></td>
                        <td><input type="radio" name="npo_psb_people_more_distant" value="5" /></td>
                        <td><input type="radio" name="npo_psb_people_more_distant" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="center">
                        <th>Strongly agree</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>Strongly Disagree</th>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">I'm often the first person in my group of friends to try something new.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_first_to_try_new_things" value="1" /></td>
                        <td><input type="radio" name="npo_psb_first_to_try_new_things" value="2" /></td>
                        <td><input type="radio" name="npo_psb_first_to_try_new_things" value="3" /></td>
                        <td><input type="radio" name="npo_psb_first_to_try_new_things" value="4" /></td>
                        <td><input type="radio" name="npo_psb_first_to_try_new_things" value="5" /></td>
                        <td><input type="radio" name="npo_psb_first_to_try_new_things" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">I consider myself to be an intellectual.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_consider_intellectual" value="1" /></td>
                        <td><input type="radio" name="npo_psb_consider_intellectual" value="2" /></td>
                        <td><input type="radio" name="npo_psb_consider_intellectual" value="3" /></td>
                        <td><input type="radio" name="npo_psb_consider_intellectual" value="4" /></td>
                        <td><input type="radio" name="npo_psb_consider_intellectual" value="5" /></td>
                        <td><input type="radio" name="npo_psb_consider_intellectual" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">I have a tendency to buy things on impulse.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_buy_on_impulse" value="1" /></td>
                        <td><input type="radio" name="npo_psb_buy_on_impulse" value="2" /></td>
                        <td><input type="radio" name="npo_psb_buy_on_impulse" value="3" /></td>
                        <td><input type="radio" name="npo_psb_buy_on_impulse" value="4" /></td>
                        <td><input type="radio" name="npo_psb_buy_on_impulse" value="5" /></td>
                        <td><input type="radio" name="npo_psb_buy_on_impulse" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">I find corporations, and corporate products, rather soulless and uninspiring.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_corporations_soulless" value="1" /></td>
                        <td><input type="radio" name="npo_psb_corporations_soulless" value="2" /></td>
                        <td><input type="radio" name="npo_psb_corporations_soulless" value="3" /></td>
                        <td><input type="radio" name="npo_psb_corporations_soulless" value="4" /></td>
                        <td><input type="radio" name="npo_psb_corporations_soulless" value="5" /></td>
                        <td><input type="radio" name="npo_psb_corporations_soulless" value="6" /></td>
                        <td></td>
                    </tr>
                    <tr class="align-left">
                        <td colspan="8">I enjoy traveling and discovering new things and places.</td>
                    </tr>
                    <tr class="odd">
                        <td></td>
                        <td><input type="radio" name="npo_psb_enjoy_traveling" value="1" /></td>
                        <td><input type="radio" name="npo_psb_enjoy_traveling" value="2" /></td>
                        <td><input type="radio" name="npo_psb_enjoy_traveling" value="3" /></td>
                        <td><input type="radio" name="npo_psb_enjoy_traveling" value="4" /></td>
                        <td><input type="radio" name="npo_psb_enjoy_traveling" value="5" /></td>
                        <td><input type="radio" name="npo_psb_enjoy_traveling" value="6" /></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </dd>
    </dl>
    <input type="submit" name="submit" value="Continue to sexuality" />
    <input type="submit" name="complete" value="Complete the survey" />
    <input type="submit" name="cancel" value="Cancel your response" />
</form>
{% endblock %}
