{% extends "base.html"  %}

{% block header %}Part 3 - Sexuality{% endblock %}
{% block body %}
<p class="muted">
<strong>Start</strong> &raquo; <strong>Overview</strong> &raquo; <strong>Psychographic battery</strong> &raquo; <em>Sexuality</em> &raquo; Finish
</p>
<form method="post">
    <h3>The importance of sex</h3>
    <dl>
        <dt>How important is sex to you, within the context of the furry fandom?</dt>
        <dd>
            <blockquote>Leave blank if you are not a furry</blockquote>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd">
                        <th>Less important</th>
                        <td><input type="radio" name="npo_sim_self" value="1" /></td>
                        <td><input type="radio" name="npo_sim_self" value="2" /></td>
                        <td><input type="radio" name="npo_sim_self" value="3" /></td>
                        <td><input type="radio" name="npo_sim_self" value="4" /></td>
                        <td><input type="radio" name="npo_sim_self" value="5" /></td>
                        <td><input type="radio" name="npo_sim_self" value="6" /></td>
                        <td><input type="radio" name="npo_sim_self" value="7" /></td>
                        <td><input type="radio" name="npo_sim_self" value="8" /></td>
                        <td><input type="radio" name="npo_sim_self" value="9" /></td>
                        <td><input type="radio" name="npo_sim_self" value="10" /></td>
                        <th class="left">More important</th>
                    </tr>
                </tbody>
            </table>
        </dd>
        <dt>How important is sex to other furries, within the context of the furry fandom?</dt>
        <dd>
            <blockquote>Leave blank if you are not a furry</blockquote>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd">
                        <th>Less important</th>
                        <td><input type="radio" name="npo_sim_others" value="1" /></td>
                        <td><input type="radio" name="npo_sim_others" value="2" /></td>
                        <td><input type="radio" name="npo_sim_others" value="3" /></td>
                        <td><input type="radio" name="npo_sim_others" value="4" /></td>
                        <td><input type="radio" name="npo_sim_others" value="5" /></td>
                        <td><input type="radio" name="npo_sim_others" value="6" /></td>
                        <td><input type="radio" name="npo_sim_others" value="7" /></td>
                        <td><input type="radio" name="npo_sim_others" value="8" /></td>
                        <td><input type="radio" name="npo_sim_others" value="9" /></td>
                        <td><input type="radio" name="npo_sim_others" value="10" /></td>
                        <th class="left">More important</th>
                    </tr>
                </tbody>
            </table>
        </dd>
        <dt>How important do you think the public thinks sex is to the furry fandom?</dt>
        <dd>
            <blockquote>Leave blank if you are not a furry</blockquote>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th></th>
                    </tr>
                </thead>
                    <tr class="odd">
                        <th>Less important</th>
                        <td><input type="radio" name="npo_sim_public" value="1" /></td>
                        <td><input type="radio" name="npo_sim_public" value="2" /></td>
                        <td><input type="radio" name="npo_sim_public" value="3" /></td>
                        <td><input type="radio" name="npo_sim_public" value="4" /></td>
                        <td><input type="radio" name="npo_sim_public" value="5" /></td>
                        <td><input type="radio" name="npo_sim_public" value="6" /></td>
                        <td><input type="radio" name="npo_sim_public" value="7" /></td>
                        <td><input type="radio" name="npo_sim_public" value="8" /></td>
                        <td><input type="radio" name="npo_sim_public" value="9" /></td>
                        <td><input type="radio" name="npo_sim_public" value="10" /></td>
                        <th class="left">More important</th>
                    </tr>
                </tbody>
            </table>
        </dd>
    </dl>
    <h3>Do you consider yourself dominant or submissive in...</h3>
    <dl>
        <dt>...sexual situations?</dt>
        <dd>
            <table>
                <thead>
                    <tr>
                        <th>Very<br />submissive</th>
                        <th>Somewhat<br />submissive</th>
                        <th>Neither dominant<br />nor submissive</th>
                        <th>Somewhat<br />dominant</th>
                        <th>Very<br />dominant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd">
                        <td><input type="radio" name="npo_dvs_sexual" value="-2" /></td>
                        <td><input type="radio" name="npo_dvs_sexual" value="-1" /></td>
                        <td><input type="radio" name="npo_dvs_sexual" value="0" /></td>
                        <td><input type="radio" name="npo_dvs_sexual" value="1" /></td>
                        <td><input type="radio" name="npo_dvs_sexual" value="2" /></td>
                    </tr>
                </tbody>
            </table>
        </dd>
        <dt>...romantic situations?</dt>
        <dd>
            <table>
                <thead>
                    <tr>
                        <th>Very<br />submissive</th>
                        <th>Somewhat<br />submissive</th>
                        <th>Neither dominant<br />nor submissive</th>
                        <th>Somewhat<br />dominant</th>
                        <th>Very<br />dominant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd">
                        <td><input type="radio" name="npo_dvs_romantic" value="-2" /></td>
                        <td><input type="radio" name="npo_dvs_romantic" value="-1" /></td>
                        <td><input type="radio" name="npo_dvs_romantic" value="0" /></td>
                        <td><input type="radio" name="npo_dvs_romantic" value="1" /></td>
                        <td><input type="radio" name="npo_dvs_romantic" value="2" /></td>
                    </tr>
                </tbody>
            </table>
        </dd>
        <dt>...social situations?</dt>
        <dd>
            <table>
                <thead>
                    <tr>
                        <th>Very<br />submissive</th>
                        <th>Somewhat<br />submissive</th>
                        <th>Neither dominant<br />nor submissive</th>
                        <th>Somewhat<br />dominant</th>
                        <th>Very<br />dominant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd">
                        <td><input type="radio" name="npo_dvs_social" value="-2" /></td>
                        <td><input type="radio" name="npo_dvs_social" value="-1" /></td>
                        <td><input type="radio" name="npo_dvs_social" value="0" /></td>
                        <td><input type="radio" name="npo_dvs_social" value="1" /></td>
                        <td><input type="radio" name="npo_dvs_social" value="2" /></td>
                    </tr>
                </tbody>
            </table>
        </dd>
    </dl>
    <h3>Sexual interests</h3>
    <dl>
        <dt>How would you describe your sexual interests?</dt>
        <dd>
            <blockquote>For each interest below, indicate what role it plays for you, checking all that apply.  Each interest should be taken on its own (not related to any other interest).  Feel free not to answer if an interest does not figure in your life.  This is not intended to be an exhaustive list, and a free-text field follows this list.</blockquote>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>I consider myself<br />interested in this</th>
                        <th>I consume media<br />related to this</th>
                        <th>I create media<br />related to this</th>
                        <th>I participate in this<br />online in roleplay</th>
                        <th>I participate in this<br />offline in person</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd">
                        <th>Furry</th>
                        <td><input type="checkbox" name="lpo_int_furry" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_furry" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_furry" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_furry" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_furry" value="participate_inperson" /></td>
                    </tr>
                    <tr>
                        <th>Zoophilia</th>
                        <td><input type="checkbox" name="lpo_int_zoophilia" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_zoophilia" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_zoophilia" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_zoophilia" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_zoophilia" value="participate_inperson" /></td>
                    </tr>
                    <tr class="odd">
                        <th>Plushophilia</th>
                        <td><input type="checkbox" name="lpo_int_plushophilia" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_plushophilia" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_plushophilia" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_plushophilia" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_plushophilia" value="participate_inperson" /></td>
                    </tr>
                    <tr>
                        <th>Transformation</th>
                        <td><input type="checkbox" name="lpo_int_transformation" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_transformation" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_transformation" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_transformation" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_transformation" value="participate_inperson" /></td>
                    </tr>
                    <tr class="odd">
                        <th>Age play</th>
                        <td><input type="checkbox" name="lpo_int_ageplay" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_ageplay" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_ageplay" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_ageplay" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_ageplay" value="participate_inperson" /></td>
                    </tr>
                    <tr>
                        <th>Diapers</th>
                        <td><input type="checkbox" name="lpo_int_diapers" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_diapers" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_diapers" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_diapers" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_diapers" value="participate_inperson" /></td>
                    </tr>
                    <tr class="odd">
                        <th>Bondage</th>
                        <td><input type="checkbox" name="lpo_int_bondage" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_bondage" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_bondage" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_bondage" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_bondage" value="participate_inperson" /></td>
                    </tr>
                    <tr>
                        <th>Domination/submission</th>
                        <td><input type="checkbox" name="lpo_int_domination" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_domination" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_domination" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_domination" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_domination" value="participate_inperson" /></td>
                    </tr>
                    <tr class="odd">
                        <th>Sadomasochism</th>
                        <td><input type="checkbox" name="lpo_int_sadomasochism" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_sadomasochism" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_sadomasochism" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_sadomasochism" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_sadomasochism" value="participate_inperson" /></td>
                    </tr>
                    <tr>
                        <th>Fursuits</th>
                        <td><input type="checkbox" name="lpo_int_fursuits" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_fursuits" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_fursuits" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_fursuits" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_fursuits" value="participate_inperson" /></td>
                    </tr>
                    <tr class="odd">
                        <th>Fertility/impregnation</th>
                        <td><input type="checkbox" name="lpo_int_fertility_impregnation" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_fertility_impregnation" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_fertility_impregnation" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_fertility_impregnation" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_fertility_impregnation" value="participate_inperson" /></td>
                    </tr>
                    <tr>
                        <th>Gender play (shifting, crossdressing, etc)</th>
                        <td><input type="checkbox" name="lpo_int_gender_role_play" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_gender_role_play" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_gender_role_play" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_gender_role_play" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_gender_role_play" value="participate_inperson" /></td>
                    </tr>
                    <tr class="odd">
                        <th>Vore</th>
                        <td><input type="checkbox" name="lpo_int_vore" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_vore" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_vore" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_vore" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_vore" value="participate_inperson" /></td>
                    </tr>
                    <tr>
                        <th>Exhibitionism/voyeurism</th>
                        <td><input type="checkbox" name="lpo_int_exhibitionism_voyeurism" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_exhibitionism_voyeurism" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_exhibitionism_voyeurism" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_exhibitionism_voyeurism" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_exhibitionism_voyeurism" value="participate_inperson" /></td>
                    </tr>
                    <tr class="odd">
                        <th>Foot/paw worship</th>
                        <td><input type="checkbox" name="lpo_int_foot_worship" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_foot_worship" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_foot_worship" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_foot_worship" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_foot_worship" value="participate_inperson" /></td>
                    </tr>
                    <tr>
                        <th>Watersports</th>
                        <td><input type="checkbox" name="lpo_int_watersports" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_watersports" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_watersports" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_watersports" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_watersports" value="participate_inperson" /></td>
                    </tr>
                    <tr class="odd">
                        <th>Size-play (macro or micro)</th>
                        <td><input type="checkbox" name="lpo_int_size_play" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_size_play" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_size_play" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_size_play" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_size_play" value="participate_inperson" /></td>
                    </tr>
                    <tr>
                        <th>Inflation</th>
                        <td><input type="checkbox" name="lpo_int_inflation" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_inflation" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_inflation" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_inflation" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_inflation" value="participate_inperson" /></td>
                    </tr>
                    <tr class="odd">
                        <th>Humiliation</th>
                        <td><input type="checkbox" name="lpo_int_humiliation" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_humiliation" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_humiliation" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_humiliation" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_humiliation" value="participate_inperson" /></td>
                    </tr>
                    <tr>
                        <th>Consensual non-consent</th>
                        <td><input type="checkbox" name="lpo_int_noncon" value="interested" /></td>
                        <td><input type="checkbox" name="lpo_int_noncon" value="consume_media" /></td>
                        <td><input type="checkbox" name="lpo_int_noncon" value="create_media" /></td>
                        <td><input type="checkbox" name="lpo_int_noncon" value="participate_online" /></td>
                        <td><input type="checkbox" name="lpo_int_noncon" value="participate_inperson" /></td>
                    </tr>
                </tbody>
            </table>
            <h3>Other interests:</h3>
            <textarea name="other_interests"></textarea>
        </dd>
    </dl>
    <input type="submit" name="complete" value="Complete the survey" class="btn btn-primary" />
    <input type="submit" name="cancel" value="Cancel your response" class="btn btn-danger" />
</form>
{% endblock %}
